

.hitoken {
    background-color: #fff; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 2px rgba(,0,0,.4);
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.4);
    box-shadow: 0px 0px 2px rgba(0,0,0,.4);
    padding: 4px 4px;
    margin: 3px -3px 2px 0px;
    cursor: pointer;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.hitoken[data-tok-id=""] {
    background-color: #eee;
}

.blur {
  color: transparent;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}


::selection {
  background-color: #ffc; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background-color: #ffc; /* Gecko Browsers */
}

.highlight-lightyellow  {
    background: url(images/stripe-y.png);
}

.highlight-red {
    background-image: url(images/stripe-r.png);
}

.highlight-red.highlight-start:not([dir="rtl"]),.highlight-red.highlight-end[dir="rtl"] {
    border-left-color: #933;
}

.highlight-red.highlight-end:not([dir="rtl"]),.highlight-red.highlight-start[dir="rtl"] {
    border-right-color: #933;
}

.highlight-silver {
    background-image: url(images/stripe-s.png);
}

.highlight-silver.highlight-start:not([dir="rtl"]),.highlight-silver.highlight-end[dir="rtl"] {
    border-left-color: #933;
}

.highlight-silver.highlight-end:not([dir="rtl"]),.highlight-silver.highlight-start[dir="rtl"] {
    border-right-color: #933;
}

.highlight-orange {
    background-image: url(images/stripe-o.png);
}

.highlight-orange.highlight-start:not([dir="rtl"]),.highlight-orange.highlight-end[dir="rtl"] {
    border-left-color: #963;
}

.highlight-orange.highlight-end:not([dir="rtl"]),.highlight-orange.highlight-start[dir="rtl"] {
    border-right-color: #963;
}

.highlight-yellow {
    background: url(images/stripe-yellow.png);
}

.highlight-yellow.highlight-start:not([dir="rtl"]),.highlight-yellow.highlight-end[dir="rtl"] {
    border-left-color: #973;
}


.highlight-yellow.highlight-end:not([dir="rtl"]),.highlight-yellow.highlight-start[dir="rtl"] {
    border-right-color: #973;
}


.highlight-green {
    background-image: url(images/stripe-g.png);
}

.highlight-green.highlight-start:not([dir="rtl"]),.highlight-green.highlight-end[dir="rtl"] {
    border-left-color: #393;
}


.highlight-green.highlight-end:not([dir="rtl"]),.highlight-green.highlight-start[dir="rtl"] {
    border-right-color: #393;
}

.highlight-blue {
    background-image: url(images/stripe-b.png);
}

.highlight-blue.highlight-start:not([dir="rtl"]),.highlight-blue.highlight-end[dir="rtl"] {
    border-left-color: #339;
}

.highlight-blue.highlight-end:not([dir="rtl"]),.highlight-blue.highlight-start[dir="rtl"] {
    border-right-color: #339;
}

.highlight-purple {
    background-image: url(images/stripe-p.png);
}

.highlight-purple.highlight-start:not([dir="rtl"]),.highlight-purple.highlight-end[dir="rtl"] {
    border-left-color: #636;
}


.highlight-purple.highlight-end:not([dir="rtl"]),.highlight-purple.highlight-start[dir="rtl"] {
    border-right-color: #636;
}

.highlight-red.highlight-orange {
    background: url(images/stripe-ro.png);
}

.highlight-red.highlight-yellow, .highlight-red.highlight-lightyellow {
    background: url(images/stripe-ry.png);
}

.highlight-red.highlight-green {
    background: url(images/stripe-rg.png);
}

.highlight-red.highlight-blue {
    background: url(images/stripe-rb.png);
}

.highlight-red.highlight-purple {
    background: url(images/stripe-rp.png);
}

.highlight-silver.highlight-orange {
    background: url(images/stripe-ro.png);
}

.highlight-silver.highlight-yellow, .highlight-silver.highlight-lightyellow {
    background: url(images/stripe-ry.png);
}

.highlight-silver.highlight-green {
    background: url(images/stripe-rg.png);
}

.highlight-silver.highlight-blue {
    background: url(images/stripe-rb.png);
}

.highlight-silver.highlight-purple {
    background: url(images/stripe-rp.png);
}

.highlight-orange.highlight-yellow, .highlight-orange.highlight-lightyellow {
    background: url(images/stripe-oy.png);
}

.highlight-orange.highlight-green {
    background: url(images/stripe-og.png);
}

.highlight-orange.highlight-blue {
    background: url(images/stripe-ob.png);
}

.highlight-orange.highlight-purple {
    background: url(images/stripe-op.png);
}

.highlight-yellow.highlight-green, .highlight-lightyellow.highlight-green {
    background: url(images/stripe-yg.png);
}

.highlight-yellow.highlight-blue, .highlight-lightyellow.highlight-blue {
    background: url(images/stripe-yb.png);
}

.highlight-yellow.highlight-purple, .highlight-lightyellow.highlight-purple {
    background: url(images/stripe-yp.png);
}

.highlight-green.highlight-blue {
    background: url(images/stripe-gb.png);
}

.highlight-green.highlight-purple {
    background: url(images/stripe-gp.png);
}

.highlight-blue.highlight-purple {
    background: url(images/stripe-bp.png);
}

.highlight-yellow.highlight-lightyellow  {
    background: url(images/stripe-lightyellow-yellow.png);
}

.highlight-red.highlight-white {
    background: url(images/stripe-rw.png);
}

.highlight-silver.highlight-white {
    background: url(images/stripe-rw.png);
}

.highlight-orange.highlight-white {
    background: url(images/stripe-ow.png);
}

.highlight-yellow.highlight-white {
    background: url(images/stripe-yw.png);
}

.highlight-green.highlight-white {
    background: url(images/stripe-gw.png);
}

.highlight-blue.highlight-white {
    background: url(images/stripe-bw.png);
}

.highlight-purple.highlight-white {
    background: url(images/stripe-pw.png);
}

.highlight-start:not([dir="rtl"]),.highlight-end[dir="rtl"]{
    -webkit-border-top-left-radius: 12px;
    -webkit-border-bottom-left-radius: 12px;
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-bottomleft: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.highlight-end:not([dir="rtl"]),.highlight-start[dir="rtl"] {
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.highlight-sf {
  /*font-weight: bold;*/
  text-decoration: underline;
  text-underline-position: under;
}
.highlight-sf.highlight-start,.highlight-sf.highlight-end {
  /* copied from .hitoken */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

