
body {
    background-color: #f3f7fb;
    margin: 0 auto;
    font-family: sans-serif;
}

h1 {
    color: #b0dcc8;
    background-color: #444444;
    padding: 20px 20px 20px 20px;
    margin: 10px;
    border: 2px solid #444444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #aaa;
    text-align: center;
}

h1 a {
    text-decoration: none;
    color: #b0dcc8;
}


h2 {
    color: #b0dcc8;
    background-color: #444444;
    padding: 10px 10px 10px 10px;
    width: 85%;
    margin: 10px auto;
    border: 2px solid #444444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #aaa;
    text-align: center;
}

h3 {
    margin: 0px auto;
    text-align: center;
    padding: 5px 10px;
    color: #b0dcc8;
    position: relative;
    top: -1px;
    background: #444444;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 3px solid #444444;
}


#nav-icon {
    height: 40px;
    width: 40px;
    float: left;
}

#user-icon {
    height: 40px;
    width: 40px;
    float: right;
}


.search-icon {
    top: 2px;
    left: 3px;
    position: relative;
    height: 15px;
    width: 15px;
    float: left;
}

.content {
    top: 10px;
    width: 95%;
    margin: 0 auto;
}

.taskdiv {
    background-color: #444;
    padding: 10px 20px;
    border: 2px solid #444444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #aaa; 
}

.task-instr {
    color: #b0dcc8;
    padding: 0px 20px;
    font-weight: bold;
    font-size: 1.2em;
}

.document {
    background-color: #eee; 
    padding: 0px;
    margin: 5px 5px 20px 5px;
    border: 2px solid #444444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px #aaa;    
}

.document h3 {
    font-weight: bold;
    color: #444;
    background: transparent;
    margin: 2px auto;
    padding: 15px;
    text-align: center;
    border: none;
}

.interlin {
    background-color: #eee;
    padding: 0px 10px;
    margin: 0px 20px;
    border-top: 1px solid #999;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;    
    box-shadow: inset 2px 2px 4px #eee;
}

.segmarker {
    padding: 0px;
    margin: 0px;
    position: relative;
    top: -10px;
    left: -15px;
    width: 200px;
    text-align: center;
    background: #eee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;    
    border: 1px solid #999;
    cursor: pointer;
}

.segmarker.bold {
    padding: 0px;
    margin: 0px;
    position: relative;
    top: -10px;
    left: -15px;
    width: 200px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;    
    border: 1px solid #999;
    cursor: pointer;
    background: #ccc;
    font-weight: bold;
}

.beginmarker, .endmarker {
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 5px;
    width: 300px;
    margin: 15px auto;
    display: block;
    width: 235px;
    border-radius: 7px;
    border: 1px solid #777;
    background-color: #FFF;
    box-shadow: 2px 2px 2px #89a;
}


.beginmarker:hover, .endmarker:hover {
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: 1px 1px 1px #89a;
    background-color: #eef;
}

.interlin.segment-selected {
    background-color: #f8f8f8;
    border: 1px solid #999;
    box-shadow: inset 2px 2px 4px #ddd;
}

.activity-content {
    width: 98%;
    clear: both;
    margin: 0 auto;
}

.tasklist, .langlist, .resourcelist {
    margin: 10px auto;
    width: 100%;
    display: inline-block;
    float: left;
    position: relative;
    padding: 10px 0px 20px 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #444;
    box-shadow: 2px 2px 2px #aaa;    
}

.tasklist-inner {
    background-color: #fff;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 4px #aaa; 
}

.tasklist table {
    width: 80%;
    text-align: center;
    margin: 10px auto;
    border-collapse: collapse;
}

.tasklist table tr {
    border-bottom: 1px solid #444;
}

.tasklist table tr td, .tasklist table tr th {
    padding: 15px 20px 10px 20px;
}

.doc-span-list {
    display: inline;
}

.tasklist h2, .resourcelist h2 {
    box-shadow: none;
}

.resourcelist table {
    text-align: center;
}

.tasklist a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #006;
    padding: 5px 40px;
    margin: 0px 20px 10px 20px;
    display: block;
    border-radius: 7px;
    border: 1px solid #777;
    background-color: #FFF;
    box-shadow: 2px 2px 2px #89a;
}

.tasklist a:hover {
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: 1px 1px 1px #89a;
    background-color: #eef;
}


.langitem {
    width: 100%;
    background-color: #fff;
    padding: 0px 0px 0px 0px;
    display: block;
    margin: 5px;
    border: 2px solid #444444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 4px #aaa; 
}

.taskitem h3 {
    top: 4px;
    width: 90%;
    margin: 0px auto;
    background-color: transparent;
    border: none;
    color: #000;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;    
}

.taskitem {
    width: 90%;
    background-color: #fff;
    padding: 0px 0px 0px 0px;
    display: block;
    margin: 0px auto;
    border-bottom: 1px solid #444444;
}

.langitem dl, .taskitem dl {
    padding: 0px 30px;
}

.langitem a, .taskitem a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #006;
    float: right;
    padding: 5px;
    margin: 0px 20px 10px 20px;
    display: block;
    width: 235px;
    border-radius: 7px;
    border: 1px solid #777;
    background-color: #FFF;
    box-shadow: 2px 2px 2px #89a;
}

.langitem a:hover, .taskitem a:hover {
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: 1px 1px 1px #89a;
    background-color: #eef;
}

.tablink {
    display: block;
    border: 2px solid #444;
    float: left;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #777;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 40px;
    margin: 0px 0px 0px 30px;
    position: relative;
    top: 20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.tablink.selected {
    top: 12px;
    color: #b0dcc8;
    background: #444;
}

.user-pane {
    display: block;
    margin: 10px;
    float: right;
    display: none;
    background-color: #fff;
    padding: 0px 0px 0px 0px;
    border: 2px solid #444444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #aaa;
}

.view-pane {
    width: 500px;
    display: block;
    margin: 10px;
    float: left;
    display: none;
    background-color: #fff;
    padding: 0px 0px 0px 0px;
    border: 2px solid #444444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #aaa;
}


.user-pane .arrow {
    background: #444;
    width: 30px;
    height: 30px;
    float: right;
    position: relative;
    top: -15px;
    left: -27px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}


.view-pane .arrow {
    background: #444;
    width: 30px;
    height: 30px;
    float: left;
    position: relative;
    top: -15px;
    left: 27px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.user-pane anno-pane-inner {
    margin: 0px auto;
}

.user-pane anno-pane-inner a {
    display: block;
    width: 400px;
    margin: 5px auto;
}

.user-pane dl {
    padding: 10px;
}

.user-pane dt, .user-pane dd {
    padding: 5px;
}


.login-pane {
    width: 500px;
    display: block;
    margin: 10px auto;
    background-color: #fff;
    padding: 0px 0px 0px 0px;
    border: 2px solid #444444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #aaa;
}

.login-pane form {
    width: 300px;
    margin: 10px auto; 
}

.login-pane input[type=text] {
    width: 230px;
    padding: 5px 10px;
    margin: 5px 5px;
    border-radius: 7px;
    box-shadow: 1px 1px 1px #aaa;
}

.login-pane input[type=submit] {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    padding: 5px;
    margin: 5px 5px;
    display: block;
    width: 250px;
    border-radius: 7px;
    border: 1px solid #777;
    background-color: #FFF;
    box-shadow: 1px 1px 1px #aaa;
}


.pagelink {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #004;
    padding: 10px 20px;
    margin: 10px auto;
    display: block;
    width: 250px;
    background-color: #fff;
    border: 2px solid #444444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #222;
}

.pagelink:hover {
    position: relative;
    top: 1px;
    left: 1px;
    background-color: #eef;
    box-shadow: 2px 2px 2px #222;
}

.donelink {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #004;
    padding: 10px 20px;
    margin: 10px 20px 30px 10px;
    display: block;
    float: right;
    width: 250px;
    
    background-color: #fff;
    border: 2px solid #444444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #222;
}

.donelink:hover {
    position: relative;
    top: 1px;
    left: 1px;
    background-color: #eef;
    box-shadow: 2px 2px 2px #222;
}

.admin-assign {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #004;
    padding: 10px 20px;
    margin: 10px 20px 30px 10px;
    display: block;
    float: right;
    width: 450px;    
    background-color: #fff;
    border: 2px solid #444444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #222;
    line-height: 1.7em;
}

.admin-assign select {
    padding: 3px;
    border: 1px solid #444444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #222;
}

.admin-assign input {
    padding: 5px 10px;
    border: 1px solid #444444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #222;
}


.admin-assign input:hover {
    position: relative;
    top: 1px;
    left: 1px;
    background-color: #eef;
    box-shadow: 1px 1px 1px #222;
}

.annotator {
    width: 100%;
    display: block;
    display: inline-block;
    padding: 0px 0px 20px 0px;
    margin: 0px auto;
    position: relative;
}

.anno-pane {
    width: 80%;
    padding: 5px;
    background-color: #eee;
    margin: 5px auto;
    border: 1px solid #444444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 2px #aaa;
    position: relative;
}


.anno-pane h3 {
    margin: 0px auto;
    text-align: center;
    padding: 5px 5px;
    color: #242;
    position: relative;
    top: -1px;
    background-color: transparent;
    border: none;
}

.x-button {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 40px;
    height: 40px;
}

.anno-option {
    display: inline;
    float: left;
}

.anno-pane-inner a {
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    color: #000;
    padding: 5px;
    margin: 5px 5px;
    display: block;
    float: left;
    width: 235px;
    border-radius: 7px;
    border: 1px solid #777;
    background-color: #FFF;
    box-shadow: 2px 2px 2px #aaa;
}

.anno-pane-inner a:hover {
  top: 1px;
  left: 1px;
  box-shadow: 1px 1px 1px #aaa;
  background-color: #eef;
}

.anno-pane-inner {
    padding: 0px 5px 5px 5px;
}

.anno-pane-inner textarea {
    width: 470px;
    height: 20px;
    font-size: 1.2em;
    border-radius: 7px;
    box-shadow: 1px 1px 1px #aaa;
    float: right;
    margin: 2px;
    resize: vertical;
}

label.anno {
    display: block;
    font-weight: normal;
    width: 175px;
    position: relative;
    border-radius: 7px;
    margin-left: 20px;
    margin: 2px 5px;
    border: 1px solid #777;
    background-color: #FFF;
    box-shadow: 1px 1px 1px #aaa;
}


label.anno.wide {
  width: 245px;
}

label.anno.extrawide {
  width: 530px;
}


label.anno:hover {
  top: 1px;
  left: 1px;
  box-shadow: 0px 0px 0px #aaa;
}

input.anno:empty {
	display: none;
}

.translation-div {
    width: 100%;
    float: left;
    padding: 5px 50px;
}

.translation-area {
    padding: 5px 15px;
    width: 80%;
    margin: 0px auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;   
    font-size: 14pt;
}

input.anno:empty ~ label {
	position: relative;
	float: left;
	line-height: 1.7em;
    padding-left: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



input.anno:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 1.5em;
	background: #D1D3D4;
	border-radius: 7px 0 0 7px;
}

input.anno:checked ~ label:before {
	content:'\2714';
	text-indent: .4em;
    font-weight: bold;
	color: #333;
	background-color: #ffff66;
}

input.anno:checked ~ label {
	color: #444;
} 

.summary {
    background-color: #fff;
    padding: 15px;
    margin: 20px 40px;
    border: 1px solid #999;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.checkdiv {
    display: block;
    background-color: #fff;
    padding: 0px;
    margin: 10px auto;
}

.checkdiv table {
    margin: 10px;
    float: left;
}

.checkdiv table tr td {
    padding: 0px 5px;
    margin: 0px 0px;
}

.dir-ltr {
    direction:LTR; 
    unicode-bidi:embed;
}

.dir-rtl {
    direction:RTL; 
    unicode-bidi:embed;
}

.sfkeyword {
    background-color: #fdd;
    padding: 5px;
    margin: 5px;
    border: 1px solid #b99;
    float: left;
    display: block;
    width: 300px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.sfdl {
    border: 1px solid #444444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #ddd;
    display: block;
    float: left;
    background-color: #f0f5f3;
    padding: 3px;
    margin: 2px;
}

.nediv {
    border: 1px solid #444444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #ddd;
    display: block;
    float: left;
    background-color: #f0f5f3;
    padding: 3px;
    margin: 2px;
}

dt {
    font-weight: bold;
}

dd {
    margin: 1px 1px 1px 10px;
    padding: 1px;
}

.interlin table {
    margin: 0px auto;
}

.interlin table tr td {
    padding: 5px 10px;
    line-height: 1.7em;
}

.interlin table tr td.centered {
    text-align: center;
}


.slider {
  width: 80px;
  height: 26px;
  background: #444444;
  margin: 5px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.slider:after {
  content: 'OFF';
  color: #b0dcc8;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}

.slider:before {
  content: 'ON';
  color: #b0dcc8;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.slider label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.slider input[type=checkbox] {
  visibility: hidden;
}

.slider input[type=checkbox]:checked + label {
  left: 43px;
}

::-webkit-scrollbar {
    width: 15px;
}
 
::-webkit-scrollbar-thumb {
    padding: 0px;
    background-color: #f9f9f9;
    border: 2px solid #444444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #aaa;
}

.index-content {
    background-color: #fff;
    width: 75%;
    padding: 20px;
    margin: 10px auto;
    border: 2px solid #444444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #aaa;
}

.index-content table {
    margin: 20px auto;
}

.index-content table tr td a {
    text-decoration: none;
    color: #036;
}

.index-content table tr td {
    width: 70px;
    margin: 5px 10px;
    padding: 3px 5px;
    text-align: center;
    border: 1px solid #444444;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #aaa;
}


.index-content img {
    width: 20px;
    height: 20px;
    float: left;
}


.index-content table tr td.doclink {
    width: 550px;
}


.table-header-rotated th.row-header{
  width: auto;
}

.table-header-rotated td{
  width: 40px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  vertical-align: middle;
  text-align: center;
}

.table-header-rotated th.rotate-45{
  height: 80px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
  /* white-space: nowrap; *//*whether to display in one line or not*/
}


.language-search-header {
    margin: 5px auto;
    text-align: center;
    padding: 5px 5px;
    color: #b0dcc8;
    background: #444444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 3px solid #444444;
}

.language-name-header {
    margin: 0px auto;
    text-align: center;
    padding: 2px 5px;
    color: #b0dcc8;
    background: #444444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 3px solid #444444;
}

.lang-search-form {
    width: 325px;
    margin: 5px auto 10px auto;
}

.lang-search {
    width: 300px;
    margin: 5px auto;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 1.3em;
}

.lang-search-div {
    background-color: #444;
    padding: 10px 20px;
    border: 2px solid #444444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #aaa; 
    margin: 5px auto;
}

.lang-search-div p {
    width: 100%;
    text-align: center;
    color: #b0dcc8;
}

.pinned-resource-link-div {
    background-color: #444;
    padding: 10px 20px;
    width: 90%;
    position: relative;
    margin: 15px auto;
    display: block;
}

.resource-link-div {
    background-color: #444;
    padding: 10px 20px;
    width: 90%;
    position: relative;
    margin: 10px auto;
    display: none;
}

.resource-link-div table, .pinned-resource-link-div table {
    width: 90%;
    margin: 5px auto;
    padding: 5px;
    background: #fafafa;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 4px #aaa; 
}

.resource-table-inner tr th {
    padding: 5px;
}

.resource-table-inner tr {
    border-top: 1px solid #888;
}


table.resource-table-outer tr td {
    border: none;
    box-shadow: none;
    padding: 2px;
}

table.resource-table-inner tr td {
    width: 20%;
    border: none;
    box-shadow: none;
    padding: 2px;
}


.lang-anchor-link {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #006;
    display: inline;
    float: left;
    padding: 5px;
    margin: 5px;
    display: block;
    width: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #777;
    background-color: #FFF;
    box-shadow: 1px 1px 1px #89a;
}

.resource-table-inner tr td a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #006;
    display: inline;
    margin: 0px auto;
    padding: 5px;
    display: block;
    width: 100px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #777;
    background-color: #FFF;
    box-shadow: 2px 2px 2px #89a;
}

.resource-table-inner tr td a:hover {
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: 1px 1px 1px #89a;
    background-color: #eef;
}




.edl-search {
	position: relative;
}

.edl-search textarea,
.edl-search input {
	border: 2px solid #999;
	border-radius: 4px;
	font: 16px Helvetica, Arial, sans-serif;
	line-height: 1.2;
	outline: none;
	padding: 3px 12px;
	resize: none;
	transition: all .25s;
	width: 450px;
}

.edl-search #matches {
	color: #44a;
	font-size: 14px;
	font-family: monospace;
	position: absolute;
    top: 2px;
	right: 30px;
	text-transform: uppercase;
	transition: all .3s;
}

.download-parallel-div {
    width: 500px;
    display: block;
    margin: 10px auto;
    background-color: #fff;
    padding: 0px 0px 10px 0px;
    border: 2px solid #444444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #aaa;
}
    
.download-parallel-div input {
    margin: 7px 30px;
}

.download-parallel-div p {
    margin: 5px 30px;
    padding: 2px;
}

.download-parallel-div select {
    margin: 4px 30px;
    padding: 4px;
    border: 1px solid #444444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #999;
}


.login-pane select {
    margin: 4px 10px;
    padding: 4px;
    border: 1px solid #444444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #999;
}

.user-table {
    width: 600px;
    padding: 10px 30px;
    margin: 10px auto;
    background: #fafafa;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 4px #aaa; 
    
}

.ner-legend-pane {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 500px;
    border-radius: 50px;
    border: 2px solid #444444;
}

.sf-tags {
  display: block;
  font-weight: normal;
  position: relative;
  border-radius: 7px;
  margin-left: 20px;
  margin: 2px 5px;
  /*border: 1px solid #000; */
  background-color: #c5221e;
  color: #ffffff;
  /*box-shadow: 1px 1px 1px #ddd; */
  text-align: center;
  /* float: left; */
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

.sf-tags-pane {
  display: none;
  text-align: center;
}
