<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/page_style.css"/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
<script type="text/javascript" src="/static/index_script.js"> </script>
<meta charset="UTF-8"/>
<body>

<h1>{{lang_id_caps}}: {{res_id_caps}}<img id="user-icon" src="/static/images/user_icon.png"/></h1>

<div class="user-pane">
    <div class="arrow"> </div>
    <h3>Analyst</h3>
    <div class="anno-pane-inner">
        <table>
            <tr><td>Name:</td><td><strong>{{user_id}}</strong></td></tr>
            <tr><td>Role:</td><td><strong>{{role_id}}</strong></td></tr>
        </table>
        <a href="/tasks/?user={{user_id}}">Return to home page</a>
        {{#is_intermediate}}
        {{#all_roles}}
            <a href="/view.py?q={{query}}&user={{user_id}}&role={{role_id}}">Switch to {{role_name}}</a>
        {{/all_roles}}
        {{/is_intermediate}}
        <a href="/">Log out</a>
    </div>
</div>

<div class="activity-content">

<div class="index-content">

    <form action="/resource_action.py" method="post">
        <input type="hidden" name="res_id" value="{{res_id}}"/>
        <input type="hidden" name="lang_id" value="{{lang_id}}"/>
        <input type="hidden" name="user_id" value="{{user_id}}"/>
        <!--<input type="hidden" name="redirect_url" value="/tasks/?user={{user_id}}"/>-->
        <input type="hidden" name="redirect_url" value="{{self_url}}"/>
        
        
        {{#is_intermediate}}
        <div class="download-parallel-div">
            <h3>Assign selected documents as a task</h3>
            <select name="annotator_role_id"><option value="none">Select task...</option>{{#possible_roles}}<option value="{{role_id}}">{{task_name}}</option>{{/possible_roles}}</select><br/>
            <select name="annotator_user_id"><option value="none">Select user...</option><option value="any">Any user</option>{{#possible_users}}<option value="{{user}}">{{user}}</option>{{/possible_users}}</select><br/>
            <!--
            {{#ghosts_available}}  
            <p>Based on:</p>
            {{#available_annotations}}
                <input name="ghost_annotations" type="checkbox" id="checkbox-{{annotator}}-{{annotation_type}}" value="{{annotator}};{{annotation_type}}">{{annotation_type_caps}} from {{annotator}}</input><br/>
            {{/available_annotations}}
            {{/ghosts_available}}
            
            -->
            <select name="sandboxed">
               <option value="false">Not sandboxed</option>
               <option value="true">Sandboxed</option>
            </select>
            <br>
            <input type="submit" name="action" value="Assign"/>
            <input type="submit" name="action" value="Re-assign"/>
            <input type="submit" name="action" value="Delete"/>
        </div>
        {{/is_intermediate}}
    
        {{#is_intermediate}}
        <div class="download-parallel-div">
            <h3>Download selected documents as parallel text</h3>
            {{#views}}
                <input name="view_ids" type="checkbox" id="checkbox-{{view_id}}" value="{{view_id}}">{{view_name}}</input><br/>
            {{/views}}
            <input type="submit" name="action" value="Download"/>
        </div>
        {{/is_intermediate}}
        
        <table class="table-header-rotated">
            <tr>
              <th></th><th>Full document</th>
              {{#views}}
                  <th class="rotate-45"><div><span>{{view_name}}</span></div></th>
              {{/views}}
              
            <tr>
            <td><input name="toggler" id="toggler1" type="checkbox" onClick="toggle(this)"/></td><td><label for="toggler1"><strong>Select all</strong></label></td>
            </tr>
            </tr>
            {{#documents}}
            <tr>
              <td><input name="queries" type="checkbox" id="checkbox-{{doc_id}}" value="{{doc_id}}"/>
              <td class="doclink"><a href="/view.py?q={{doc_id}}&user={{user_id}}&role={{role_id}}"><img src="/static/images/view-icon.png"> {{doc_id}}</a>
              {{#hasKeywords}}
              <br/><small>Keywords: </small>
              {{#keywords}}
              <small><i>{{.}}</i></small> 
              {{/keywords}}
              {{/hasKeywords}}

              {{#hasAnnotations}}
              <br/><small>Annotated by: </small>
              {{#annotations}}
              <small>{{.}}, </small>
              {{/annotations}}
              {{/hasAnnotations}}
              
              {{#hasTasksAssigned}}
              <br/><small>Assigned to: </small>
              {{#tasks}}
              <small>{{.}}, </small>
              {{/tasks}}
              {{/hasTasksAssigned}}
              
              </td>
              {{#views}}
                <td class="viewcheck">{{#hasView}}✓<!-- <a href="/{{set_id}}/raw/{{doc_id}}/{{res_id}}/" download="{{doc_id}}.{{res_id}}.xml"><img src="/static/images/data-icon.png"> Raw</a>-->{{/hasView}}</td>
              {{/views}}
            </tr>
            {{/documents}}
            <tr>
            <td><input name="toggler" id="toggler2" type="checkbox" onClick="toggle(this)"/></td><td><label for="toggler2"><strong>Select all</strong></label></td>
            </tr>
        </table>
        
        <div style="clear:both;"> </div>
    </form>
</div>

</div>

<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('queries');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>

</body>
</html>

