<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/page_style.css"/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
<script type="text/javascript" src="/static/index_script.js"> </script>
<meta charset="UTF-8"/>
<body>

<h1>ARIEL Analyst Console<img id="user-icon" src="/static/images/user_icon.png"/></h1>

<div class="user-pane">

    <div class="arrow"> </div>
    <h3>Analyst</h3>
    <div class="anno-pane-inner">
        <table>
            <tr><td>Name:</td><td><strong>{{user_id}}</strong></td></tr>
        </table>
        <a href="/">Log out</a>
    </div>
</div>

<div class="activity-content">
<a class="tablink" href="/tasks/?user={{user_id}}">Tasks</a>
{{#is_intermediate}}
<a class="tablink" href="/pinned/?user={{user_id}}">Pinned resources</a>
<a class="tablink selected" href="/languages/?user={{user_id}}">All resources</a>
{{/is_intermediate}}
{{#is_admin}}
<a class="tablink" href="/users/?user={{user_id}}">Users</a>
{{/is_admin}}

<div class="resourcelist">
    
    <h2>Enter names or ISO-639 codes of languages (e.g., "deu fra jpn")</h2>
        <form class="lang-search-form" onsubmit="return false;">
            <input type="text" class="lang-search"></input>
        </form>
    
    
    {{#langs}}
    
    <div class="resource-link-div lang-{{lang_id}} lang-{{lang_short_code}} lang-{{lang_name_lower}}">
        <h2 class="language-name-header">{{lang_id_upper}}: {{lang_name}}</h2>
        <a name={{lang_id}}></a>
        <table class="resource-table-outer">
            {{#resource_types}}
            <tr><td><strong>{{res_type_name}}</strong></td>
                <td><table class="resource-table-inner">
                    <tr><th>Resource ID<th>Name</th><th># of documents</th><th>Views available</th><th></th></tr>
                    {{#resources}}
                    <tr>
                      <td>{{res_id}}</td>
                      <td>{{res_name}}</td>
                      <td>{{num_docs}}</td>
                      <td>{{#views}}
                        <span style="display:inline;float:left;width:100%">
                            {{.}}
                        </span> 
                      {{/views}}</td>
                      <td><a href="/documents/{{lang_id}}/{{res_id}}/?user={{user_id}}&role=viewer">View</a></td>
                    </tr>
                    {{/resources}}
                </table></td>
            </tr>
            {{/resource_types}}
        </table>
    </div>
    {{/langs}}
</div>

</div>
</body>
</html>

