<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" type="text/css" href="/static/page_style.css"/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
<script type="text/javascript" src="/static/index_script.js"> </script>
<body>

<div class="activities-content">
<h1>ARIEL Analyst Console</h1>


{{#users_exist}}
<div class="login-pane">
    <h3>SIGN IN</h3>
    
    <form action="/tasks/" method="get">
        Username: 
            <select name="user"><option value="none">Select user...</option>{{#possible_users}}<option value="{{user}}">{{user}}</option>{{/possible_users}}</select><br/>
        <input type="submit" value="Sign in"></input>
    </form>

</div>
{{/users_exist}}
    

<div class="login-pane">
    <h3>REGISTER</h3>
    

    <form action="/register/" method="get">
        Username: <input type="text" name="user"> </input> 
        Email: <input type="text" name="email"> </input>   
        Interface: <select name="permissions">
                        <option value="basic">Basic</option>
                        <option value="intermediate" selected="selected">Intermediate</option>
                        <option value="admin">Supervisor</option>
                   </select>
        <input type="submit" value="Register"></input>
    </form>
</div>

</body>
</html>
