<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" type="text/css" href="/static/page_style.css"/>
<link rel="stylesheet" type="text/css" href="/static/annotation_painter.css"/>

<body data-view_id="" data-query="{{query}}" data-set-id="{{set_id}}" data-doc-id="{{doc_id}}" data-seg-id="" data-tok-id="" data-user-id="{{user_id}}" data-role-id="{{role_id}}" data-sandboxed="{{sandboxed}}">

<!-- Page content -->

<div class="content">

<h1>
   <img id="nav-icon" src="/static/images/slider_icon.png"/>
   {{#doc_prev}}<a class="topnav-left" href="{{doc_prev}}">&lt;</a>{{/doc_prev}}
   {{task_name}}: {{title}} 
   {{#doc_next}}<a class="topnav-right" href="{{doc_next}}">&gt;</a>{{/doc_next}}
   <img id="user-icon" src="/static/images/user_icon.png"/>
</h1>

<!-- Per-resource visibility checkboxes -->

<div class="view-pane">
    <div class="arrow"> </div>
    <h3>Views</h3>
    <div class="checkdiv">

    <table>
        <tr><td><strong>Text</strong></td><td></td></tr>
        {{#views}}
        <tr>
            <td><div class="slider">
                    <input id="type-{{view_id}}" class="show-check type-{{view_id}}" type="checkbox" checked="checked" name="{{view_name}}" />
                    <label for="type-{{view_id}}"></label>
            </div></td>
            <td>{{view_name}}</td>
        </tr>
        {{/views}}
        <tr>
            <td><div class="slider">
                  <input id="type-ner-legend" class="show-check type-ner-legend" type="checkbox" checked="checked"/>
                  <label for="type-ner-legend"></label>
            </div></td>
            <td>NER legend</td>
        </tr>
        <tr>
            <td><div class="slider">
                  <input id="type-blur" class="show-check type-blur" type="checkbox" checked="checked"/>
                  <!--<input id="type-blur" class="show-check type-blur" type="checkbox"/>-->
                  <label for="type-blur"></label>
            </div></td>
            <td>Blur</td>
        </tr>
    </table>
    <table>
        <tr><th><strong>Annotation</strong></th><th></th></tr>
        {{#anno_views}}
        <tr>
            <td><div class="slider">
                    <input id="type-anno-{{anno_view_id}}" class="show-check-anno type-{{anno_view_id}}" data-anno-view-id="{{anno_view_id}}" type="checkbox" checked="checked" name="{{anno_view_name}}" />
                    <label for="type-anno-{{anno_view_id}}"></label>
            </div></td>
            <td>{{anno_view_name}}</td>
        </tr>
        {{/anno_views}}
    </table>
    </div>      
    <div style="clear: both;"> </div>
</div>
<!--<img class="ner-legend-pane" style="display: none;" src="/static/images/ner-legend.png" alt="NER legend">-->
<img class="ner-legend-pane" src="/static/images/ner-legend.png" alt="NER legend">

<!-- User options (change role, etc.) -->

<div class="user-pane">
    <div class="arrow"> </div>
    <h3>Analyst</h3>
    <div class="anno-pane-inner">
        <table>
            <tr><td>Name:</td><td><strong>{{user_id}}</strong></td></tr>
            <tr><td>Role:</td><td><strong>{{role_name}}</strong></td></tr>
        </table>
        <a href="/tasks/?user={{user_id}}">Return to home page</a>
        {{#is_intermediate}}
        {{#all_roles}}
            {{#not_selected}}
                <a href="/view.py?q={{query}}&user={{user_id}}&role={{role_id}}">Switch to {{role_name}}</a>
            {{/not_selected}}
        {{/all_roles}}
        {{/is_intermediate}}
        <a href="/">Log out</a>
    </div>
    
    <div style="clear: both;"> </div>
</div>


<div class="activity-content">

{{#is_intermediate}}

    <div class="download-parallel-div">
        <form action="/resource_action.py" method="post">
            <h3>Assign as a task</h3>
            <select name="annotator_role_id"><option value="none">Select task...</option>{{#possible_roles}}<option value="{{role_id}}">{{task_name}}</option>{{/possible_roles}}</select><br/>
            <select name="annotator_user_id"><option value="none">Select user...</option><option value="any">Any user</option>{{#possible_users}}<option value="{{user}}">{{user}}</option>{{/possible_users}}</select><br/>
            <!--
            {{#ghosts_available}}
            <p>Based on:</p>
            {{#available_annotations}}
                <input name="ghost_annotations" type="checkbox" id="checkbox-{{annotator}}-{{annotation_type}}" value="{{annotator}};{{annotation_type}}">{{annotation_type_caps}} from {{annotator}}</input><br/>
            {{/available_annotations}}
            {{/ghosts_available}}
            -->
            <select name="sandboxed">
               <option value="false">Not sandboxed</option>
               <option value="true">Sandboxed</option>
            </select>
            <input type="hidden" name="queries" value="{{query}}"/>
            <input type="hidden" name="lang_id" value="{{lang_id}}"/>
            <input type="hidden" name="res_id" value="{{res_id}}"/>    
            <input type="hidden" name="user_id" value="{{user_id}}"/>
            <input type="hidden" name="redirect_url" value="/tasks/?user={{user_id}}"/>
            <input type="submit" name="action" value="Assign"/>
        </form>
    </div>

<div style="clear: both;"> </div>

{{/is_intermediate}}


<div class="taskdiv">

<p class="task-instr"><strong>{{task_name}}</strong>: {{task_desc}}</p>

{{#documents}}

<div class="document">
<h3>Document {{doc_id}}</h3>

<!-- <p class="beginmarker">Beginning of document</p> -->

{{#segments}}
<div class="interlin segment-{{doc_id}}-{{seg_id}}" data-doc-id="{{doc_id}}" data-seg-id="{{seg_id}}">
    <!-- <h3>{{doc_id}}: {{seg_id}}</h3> -->
    
    <p class="segmarker">{{seg_id}}</p>
    <div class="sf-tags-pane"> </div>
    <table class="interlin-table">
        {{#views}}
        <tr class="line line{{i}} type-{{view_id}}">
            <td>{{view_name}}</td>
            <td dir="{{direction}}" data-view_id="{{view_id}}">
                {{#tokens}}
                    <span class="{{#token_align}}hitoken {{/token_align}}" dir="{{direction}}" data-view_id="{{view_id}}" data-doc-id="{{doc_id}}" data-seg-id="{{seg_id}}" data-tok-id="{{tok_ids_str}}" data-tok-offset="{{tok_offset}}" data-start-char="{{start_char}}" data-end-char="{{end_char}}">{{text}}</span>
                {{/tokens}}
            </td>
        </td>
        {{/views}}
    </table>
    
    <!-- Annotation pane -->

    <div class="annotator">          
        <div class="annotation-form">
          
        </div>
        
        <div style="clear: both;"> </div>  
    </div>

</div>   
{{/segments}}

<!-- <p class="endmarker">End of document</p> -->

</div>

{{/documents}}

<a class="donelink finished" href="/tasks/finished?q={{query}}&user={{user_id}}&role={{role_id}}"><strong>Mark document as complete for {{task_name}}<strong></a>
<a class="donelink unfinished" href="/tasks/?user={{user_id}}"><strong>Return to Activities page (without marking document as complete)<strong></a>
<div style="clear: both;"> </div> 

</div>

</div>

<script id="form-template" type="x-tmpl-mustache">

<!--

<div class="anno-pane">
    <h3>Selection</h3>
    <div class="anno-pane-inner">
        <table>
        <tr><td>Document:</td><td>[[doc_id]]</td></tr>
        [[#seg_id]]<tr><td>Segment:</td><td>[[seg_id]]</td></tr>[[/seg_id]]
        [[#tok_id]]<tr><td>Tokens:</td><td>[[tok_id]]</td></tr>[[/tok_id]]
        </table>
    </div>
</div> -->


[[#schemas]]
[[#enabled]]
<div class="anno-pane">
    <h3>[[name]]</h3>
    <div class="anno-pane-inner">
        <form>
            <!--
            <div class="anno-option">
                <input type="checkbox" id="annotation_[[name_abbrev]]_none" class="anno annotation_[[name_abbrev]] wide" name="[[name_abbrev]]_value" value="none"/>
                <label class="anno wide" id="annotation_label_[[name_abbrev]]_none" for="annotation_[[name_abbrev]]_none">[[negative_label]]</label>
            </div>
            -->
            
            [[#labels]]
            <div class="anno-option">
                <input type="checkbox" id="annotation_[[name_abbrev]]_[[label_abbrev]]" class="anno annotation_[[name_abbrev]] wide" name="[[name_abbrev]]_value" value="[[label_abbrev]]"/>
                <label class="anno wide" id="annotation_label_[[name_abbrev]]_[[label_abbrev]]" for="annotation_[[name_abbrev]]_[[label_abbrev]]">[[label]] [[#hotkey]] ([[hotkey]])[[/hotkey]]</label>
            </div>
            [[/labels]]
            
            <!--
            <img class="x-button x-button-[[name_abbrev]]" data-annotation-type="[[name_abbrev]]" src="/static/images/close-x.png"/> -->
            
        </form>

        <div style="clear: both;"> </div>  
    </div>
</div>
[[/enabled]]
[[/schemas]]


[[#can_edl]]
<div class="anno-pane">
    <h3>Entity Lonking</h3>
    <div class="anno-pane-inner">   
        <p><strong>[[text]]<strong></p>
        
        <form>
            
            [[#entityLinks]]
            <div class="anno-option">
                <input type="checkbox" id="entity_link_[[ent_index]]" class="anno translation entity-link-checkbox extra-wide" name="entity_link" value="[[ent_id]]" [[#ent_checked]]checked="checked"[[/ent_checked]]/>
                <label class="anno wide extrawide" id="entity_link_label_[[ent_index]]" for="entity_link_[[ent_index]]">[[ent_text]]</label>
            </div>
            [[/entityLinks]]
            
            <div class="anno-option edl-search">
                <input type="checkbox" id="entity_link_free" class="anno translation entity-link-checkbox extra-wide" name="entity_link" value=""/>
                <label class="anno wide extrawide" id="entity_link_label_free" for="entity_link_free">
                    Other:
                    <!-- <div id="matches" style="opacity: 0;"><span>0</span> matches</div> -->
                    <input id="entity_link_area" placeholder="Search for an entity"></input>
                </label>
                <div style="clear: both;"> </div>
            </div>
        
        </form>
        
        <div style="clear: both;"> </div>  
    </div>
</div>
[[/can_edl]]

[[#can_sf_location]]
<div class="anno-pane">
    <h3>Situation Frame Location</h3>
    <div class="anno-pane-inner">   
        <p><strong>[[text]]<strong></p>
        
        <form>
            
            [[#sf_location_candidates]]
            <div class="anno-option">
                <input type="checkbox" id="sf_location_link_[[ent_index]]" class="anno translation sf-location-link-checkbox extra-wide" name="sf_location_link" value="[[ent_id]]" [[#ent_checked]]checked="checked"[[/ent_checked]]/>
                <label class="anno wide extrawide" id="sf_location_link_label_[[ent_index]]" for="sf_location_link_[[ent_index]]">[[ent_text]]</label>
            </div>
            [[/sf_location_candidates]]
        
        </form>
        
        <div style="clear: both;"> </div>  
    </div>
</div>
[[/can_sf_location]]


{{#is_intermediate}}
<div class="anno-pane">
    <h3>Translation</h3>
    <div class="anno-pane-inner">   
        <!--<p><strong>[[text]]<strong></p>-->
        
        <form>
        
            <!--
            [[#definitions]]
            <div class="anno-option">
                <input type="checkbox" id="translation_[[def_index]]" class="anno translation wide" name="translation" value="foo"/>
                <label class="anno wide" id="translation_label_[[def_index]]" for="translation_[[def_index]]">[[def_text]]</label>
            </div>
            [[/definitions]]
            -->
            
            <div class="translation-div">
                <input class="translation-area" id="translation_free" placeholder="Type a new translation here"></input>
            </div>
            
        </form>
        
        <div style="clear: both;"> </div>  
    </div>
</div>
{{/is_intermediate}}

<!--
[[#can_search]]
<div class="anno-pane">
    <h3>Search</h3>
    <div class="anno-pane-inner">
        <a class="see_more_button" target="_blank" href="console.py?req=diffcontext&doc=[[doc_id]]&seg=[[seg_id]]&tok=[[tok_id]]"><img class="search-icon" src="/static/images/search-icon-dark.png"/>This word in other contexts</a>
        <a class="see_more_button" target="_blank" href="console.py?req=diffwords&doc=[[doc_id]]&seg=[[seg_id]]&tok=[[tok_id]]"><img class="search-icon" src="/static/images/search-icon-dark.png"/>Others words in this context</a>
    </div>
    
    <div style="clear: both;"> </div>  
</div>
[[/can_search]]
-->

</script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
<script type="text/javascript" src="/static/mustache.min.js"> </script>
<script type="text/javascript" src="/static/js_cookie.js"> </script>
<script type="text/javascript" src="/static/keymaster.js"> </script>
<script type="text/javascript" src="/static/util.js"> </script>
<script type="text/javascript" src="/static/annotation_painter.js"> </script>
<script type="text/javascript" src="/static/page_script.js"> </script>

</body>
</html>

