<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" type="text/css" href="/static/page_style.css"/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
<script type="text/javascript" src="/static/index_script.js"> </script>
<body>


<h1>ARIEL Analyst Console<img id="user-icon" src="/static/images/user_icon.png"/></h1>

<div class="user-pane">
    <div class="arrow"> </div>
    <h3>Analyst</h3>
    <div class="anno-pane-inner">
        <table>
            <tr><td>Name:</td><td><strong>{{user_id}}</strong></td></tr>
        </table>
        <a href="/">Log out</a>
    </div>
</div>

<div class="activity-content">
<a class="tablink selected" href="/tasks/?user={{user_id}}">Tasks</a>
{{#is_intermediate}}
<a class="tablink" href="/pinned/?user={{user_id}}">Pinned resources</a>
<a class="tablink" href="/languages/?user={{user_id}}">All resources</a>
{{/is_intermediate}}
{{#is_admin}}
<a class="tablink" href="/users/?user={{user_id}}">Users</a>
{{/is_admin}}

<div class="tasklist">

<h2>Your incomplete tasks</h2>

<div class="tasklist-inner">
<table>
<tr>
    <th>Language</th>
    <th>Task</th>
    <th>Documents</th>
    <th></th>
</tr>
{{#tasks}}
{{#incomplete}}
{{#claimed}}
<tr>
    <td>{{lang_name}}</td>
    <td>{{task_name}}</td>
    <td>{{#docs}}
        <span class="doc-seg-list">{{doc_id}}: {{seg_count}} segment(s)</span><br/>
    {{/docs}}</td>
    <td><a href="/view.py?q={{query}}&user={{user_id}}&role={{role}}">Start</a></td>
</tr>
{{/claimed}}
{{/incomplete}}
{{/tasks}}
</table>
</div>

{{#is_intermediate}}
<h2>Unclaimed tasks</h2>

<div class="tasklist-inner">
<table>
<tr>
    <th>Language</th>
    <th>Task</th>
    <th>Documents</th>
    <th></th>
</tr>
{{#tasks}}
{{#unclaimed}}
<tr>
    <td>{{lang_name}}</td>
    <td>{{task_name}}</td>
    <td>{{#docs}}
        <span class="doc-seg-list">{{doc_id}}: {{seg_count}} segment(s)</span><br/>
    {{/docs}}</td>
    <td><a href="/reassign_task.py?q={{query}}&user={{user_id}}&role={{role}}">Claim and start</a></td>
</tr>
{{/unclaimed}}
{{/tasks}}
</table>
</div>
{{/is_intermediate}}



<h2>Your completed tasks</h2>

<div class="tasklist-inner">
<table>
<tr>
    <th>Language</th>
    <th>Task</th>
    <th>Documents</th>
    <th></th>
</tr>
{{#tasks}}
{{#finished}}
<tr>
    <td>{{lang_name}}</td>
    <td>{{task_name}}</td>
    <td>{{#docs}}<span>{{doc_id}}: {{seg_count}} segment(s)</span><br/>{{/docs}}</td>
    <td><a href="/view.py?q={{query}}&user={{user_id}}&role={{role}}">Edit</a></td>
</tr>
{{/finished}}
{{/tasks}}
</table>
</div>

<div style="clear: both;"> </div>

</div>

<!--
<div class="langlist">

<h2>Links</h2>

<a class="pagelink" href="/languages/?user={{user_id}}">View all language resources</a>

-->

<!--
<h2>Browse all datasets</h2>
{{#datasets}}
<div class="langitem">
    <h3>{{set_id_caps}}: {{name}}</h3>
    <dl>
        <dt>Number of Files</dt>
        <dd>{{numFiles}}</dd>
        <dt>Resources available</dt>
        {{#resources}}
        <dd>{{name}}</dd>
        {{/resources}}
    </dl>
    <a href="/files/{{id}}/?user={{user_id}}&role=viewer">View files</a>
    
    <div style="clear: both;"> </div>
</div>

{{/datasets}}
</div>  -->

</div>
</body>
</html>
