<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" type="text/css" href="/static/page_style.css"/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
<script type="text/javascript" src="/static/index_script.js"> </script>
<body>


<h1>ARIEL Analyst Console<img id="user-icon" src="/static/images/user_icon.png"/></h1>

<div class="user-pane">

    <div class="arrow"> </div>
    <h3>Analyst</h3>
    <div class="anno-pane-inner">
        <table>
            <tr><td>Name:</td><td><strong>{{user_id}}</strong></td></tr>
        </table>
        <a href="/">Log out</a>
    </div>
</div>


<div class="activity-content">

<a class="tablink" href="/tasks/?user={{user_id}}">Tasks</a>
{{#is_intermediate}}
<a class="tablink" href="/pinned/?user={{user_id}}">Pinned resources</a>
<a class="tablink" href="/languages/?user={{user_id}}">All resources</a>
{{/is_intermediate}}
{{#is_admin}}
<a class="tablink selected" href="/users/?user={{user_id}}">Users</a>
{{/is_admin}}


<div class="resourcelist">
    
    <h2>Users</h2>
    
        <table class="user-table">
        <tr><th>User</th><th>Permissions</th><th>Subscribed</th></tr>
        {{#users}}
        
        <form action="/users/?user={{user_id}}" method="post">
            <tr>
                <td>{{user_id}}</td>
                <td><select name="permissions">
                    <option value="basic" {{#is_basic}}selected="selected"{{/is_basic}}>Basic</option>
                    <option value="intermediate" {{#is_intermediate}}selected="selected"{{/is_intermediate}}>Intermediate</option>
                    <option value="admin" {{#is_admin}}selected="selected"{{/is_admin}}>Supervisor</option>
                </select>
                <td>
                    <input type="checkbox" id="subscribed" {{#subscribed}}checked="checked"{{/subscribed}}/>
                </td>
                <td>
                    <input class="user-changes" type="submit" value="Submit changes"/>
                    <input type="hidden" name="user" value="{{user_id}}"/>
                </td>
            </tr>
        </form>
        {{/users}}
        </table>
</div>

</div>
</body>
</html>

